<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SolidInvest Tests">
    <test name="Main Page Tests">
        <classes>
            <class name="com.solidinvest.tests.MainPageTest"/>
            <class name="com.solidinvest.tests.ContactsTest"/>
        </classes>
    </test>
</suite>